.chatrooms {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-right: 1px solid #c9c9c9;

    .chatrooms__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #c9c9c9;
    }

    .header__left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__left > h5 {
        margin: 20px 5px;
        margin-left: 20px;
    }

    .header__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__right > .MuiSvgIcon-root {
        margin: 0 5px;
    }

    .header__right > .MuiButtonBase-root > .MuiIconButton-label > img {
        margin: 0 5px;
        height: 20px;
    }

    .chatroom__item {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #c9c9c9;
        padding: 10px;

        .MuiAvatar-root {
            background-color: #464775;
        }
    }

    .chatroom__item:hover {
        background-color: #ebebeb;
    }

    .chatroom__info {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 20px;
        width: 100%;
    }

    .chatRoom__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .chatRoom__title > h6 {
        font-size: 14px;
    }

    .chatroom__message {
        font-size: 12px;
    }

    .back-drop {
        background-color: rgba(48, 49, 48, 0.42);
        height: 100%;
        position: fixed;
        transition: all 1.3s;
        width: 100%;
    }
}

.chatroom {
    display: flex;
    flex-direction: column;
    background-color: #F3F2F1;
    width: 100%;
    height: 100%;

    .chatroom__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        border-bottom: 1px solid #c9c9c9;
        width: 100%;

        .chatroom__headerleft {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .chatroom__headerleft > .MuiAvatar-root {
            background-color: #464775;
        }
    }

    .chatroom__header > .chatroom__headerleft > h5 {
        margin: 20px;
    }

    .chatroom__body {
        height: 75vh;
        overflow: auto;
        padding: 0 15px;
    }

    .chatroom__sendMessage {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 9% 0 3%;

        input[type=file]::file-selector-button {
            border-radius: 5px;
            margin: 0 5px;
            padding: 12px 2px;
            background-color: #464775;
            color: #ffffff;
        }

        .MuiSvgIcon-root {
            font-size: 36px;
        }
    }

    .mychat {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: fit-content;
        margin-right: 7%;
        background-color: #D7D7E9;
        padding: 0.1px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 15px;
    }

    .mychat > span {
        font-size: 10px !important;
        font-weight: 500;
        padding: 7px;
    }

    .mychat > span {
        font-size: 12px;
        padding: 3px;
    }

    .peerchat {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: 9%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;

        .MuiAvatar-root {
            background-color: #464775;
        }
    }

    .peerchat > .peer {
        margin-left: 10px;
        background-color: #ffffff;
        padding: 0.1px 10px;
        margin-top: 5px;
        border-radius: 15px;
    }

    .peerchat > div > span {
        font-size: 10px !important;
        font-weight: 500;
        padding: 7px;
    }

    .peerchat > div > span {
        font-size: 12px;
        padding: 3px;
    }
}

.createChatModal {
    position: absolute;
    left: 35%;
    margin-left: -50px;
    top: 30%;
    margin-top: -50px;
    z-index: 1;
    
    .modal-wrapper {
        background: white;
        border: 1px solid #d0cccc;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
        margin: 0;
        transition: all .8s;
        width: 80vh;
    }
    
    .modal-header {
        background: #EBEBEB;
        height: 40px;
        line-height: 40px;
        padding: 5px 20px;
        text-align: right;
    }
    
    .modal-header h4 {
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .modal-body {
        padding: 10px 15px;
        text-align: center;
    }
    
    .modal-footer {
        background: #EBEBEB;
        height: fit-content;
        padding: 15px;
    }
    
    .close-modal-btn {
        cursor: pointer;
        float: right;
        font-size: 30px;
        margin: 0;
    }
    
    .close-modal-btn:hover {
        color: black;
    }
    
    .btn-continue {
        background-color: #464775;
        float: right;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        outline: none;
        padding: 10px;
    }
}

.emptychat {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 400px;
        object-fit: contain;
    }

    h4 {
        margin-top: 60px;
        text-align: center;
    }
}
