.chatrooms {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-right: 1px solid #c9c9c9;

    .chatrooms__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #c9c9c9;
    }

    .header__left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__left > h5 {
        margin: 20px 5px;
        margin-left: 20px;
    }

    .header__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__right > .MuiSvgIcon-root {
        margin: 0 5px;
    }

    .chatroom__item {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #c9c9c9;
        padding: 10px;
    }

    .chatroom__item:hover {
        background-color: #ebebeb;
    }

    .chatroom__info {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 20px;
        width: 100%;
    }

    .chatRoom__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .chatRoom__title > h6 {
        font-size: 14px;
    }

    .chatroom__message {
        font-size: 12px;
    }
}

.chatroom {
    display: flex;
    flex-direction: column;
    background-color: #F3F2F1;
    width: 100%;
    height: 100%;

    .chatroom__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #c9c9c9;
        width: 100%;
    }

    .chatroom__header > h5 {
        margin: 20px;
    }

    .chatroom__body {
        height: 75vh;
        overflow: auto;
    }

    .chatroom__sendMessage {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 6% 0 9%;
    }

    .mychat {
        position: relative;
        margin-left: auto;
        width: fit-content;
        margin-right: 9%;
        background-color: #D7D7E9;
        padding: 0.1px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 15px;
    }

    .mychat > span {
        font-size: 10px !important;
        font-weight: 500;
        padding: 7px;
    }

    .mychat > span {
        font-size: 12px;
        padding: 3px;
    }

    .peerchat {
        width: fit-content;
        margin-left: 9%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .peerchat > .peer {
        margin-left: 10px;
        background-color: #ffffff;
        padding: 0.1px 10px;
        margin-top: 5px;
        border-radius: 15px;
    }

    .peerchat > div > span {
        font-size: 10px !important;
        font-weight: 500;
        padding: 7px;
    }

    .peerchat > div > span {
        font-size: 12px;
        padding: 3px;
    }
}

.createChatModal {
    .modal-wrapper {
        background: white;
        border: 1px solid #d0cccc;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
        margin: 100px auto 0;
        transition: all .8s;
        width: 60%;
    }
    
    .modal-header {
        background: #263238;
        height: 40px;
        line-height: 40px;
        padding: 5px 20px;
        text-align: right;
    }
    
    .modal-header h3 {
        color: white;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .modal-body {
        padding: 10px 15px;
        text-align: center;
    }
    
    .modal-footer {
        background: #263238;
        height: 35px;
        padding: 15px;
    }
    
    .close-modal-btn {
        color: white;
        cursor: pointer;
        float: right;
        font-size: 30px;
        margin: 0;
    }
    
    .close-modal-btn:hover {
        color: black;
    }
    
    .btn-cancel, .btn-continue {
        background: coral;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        outline: none;
        padding: 10px;
    }
    
    .btn-cancel {
        background-color: #b71c1c;
        float: left;
    }
    
    .btn-continue {
        background-color: #1b5e20;
        float: right;
    }
    
    .back-drop {
        background-color: rgba(48, 49, 48, 0.42);
        height: 100%;
        position: fixed;
        transition: all 1.3s;
        width: 100%;
    }
    
    .open-modal-btn {
        margin: 15px;
        padding: 10px;
        font-weight: bold;
    }
}
