.github {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .github__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}