.videoconference {
    display: flex;
    flex-direction: row;

    .videocall__body {
        display: flex;
        flex-direction: row;
    }

    .videoroom {
        width: 75%;
    }

    .chat {
        width: 25%;
    }
}