.video {
    .agora_video_player {
        object-fit: contain !important;
    }

    .content {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    #videos {
        position: relative;
        height: 93.74vh;
        width: 100%;
        margin: auto;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        justify-items: center;
        align-items: center;
    }


    .vid {
        position: relative;
        background-color:black;
        height: 100%;
        width: 100%;
        box-shadow: var(--shadow);
        padding: 5px;

        .MuiAvatar-root {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            padding-top: 30%;
            width: 30%;
            background-color: #464775;

            p {
                font-size: 500%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                transform: translate(-50%, -50%);
            }
        }

        h6 {
            color: #ffffff;
            background-color: #464775;
            width: fit-content;
            padding: 10px;
            border-radius: 0 5px 0 0;
            position: absolute;
            z-index: 1;
            bottom: 0;
            margin: 0;
        }
    }

    .controls {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        margin: 20px auto;
        padding: 10px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        border-radius: 10px;
        z-index: 1;
    }

    .controls.me {
        position: fixed;
        left: 37%;
        transform: translateX(-37%);
    }

    .video-options {
        margin-top: 10px;
        margin-left: 8px;
    }
    
    .options-div > img {
        height: 30px;
    }
    
    .options-div {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 0 10px;
        background-color: aliceblue;
    }
    
    .options-div:hover {
        color: #D8D3FF;
        background-color: #440a67;
    }
}