.userRepo {
    margin: 20px;
    margin-left: 0;

    .userRepo__name > button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    .userRepo__name > button > h5 {
        color: #47bfff;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .userRepo_stats {
        display: flex;
        flex-direction: row;
    }

    .userRepo_stats > h6 {
        margin: 0 10px 0 0;
        padding: 4px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 12px;
    }

    .userRepo_stats :nth-child(1) {
        background-color: #2b1818;
    }

    .userRepo_stats :nth-child(2) {
        background-color: #0097e9;
    }

    .userRepo_stats :nth-child(3) {
        background-color: #00a716;
    }

    .userRepo__forkedFrom {
        font-size: 12px;
        color: #707070;
    }
}

.userRepoContent {
    .userRepo__options {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #c5c4c4;
    }

    .userRepo__options .active {
        padding-bottom: 10px;
        margin-bottom: 0;
        border-bottom: 2px solid #000000;
    }

    .userRepo__options > button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    .userRepo__options > button > h6 {
        padding: 10px;
    }

    .userRepoContent__name {
        padding: 10px;
    }

    .userRepoContent__name > button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    .userRepoContent__name > button > h6 {
        color: #47bfff;
    }

    .userRepoContent__name > button > h6:hover {
        color: #0097e9;
    }

    .userRepoContent__name > svg {
        margin-right: 7px;
    }
}

.repoPdf {
    .userRepo__options {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #c5c4c4;
    }

    .userRepo__options .active {
        padding-bottom: 10px;
        margin-bottom: 0;
        border-bottom: 2px solid #000000;
    }

    .userRepo__options > button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    .userRepo__options > button > h6 {
        padding: 10px;
    }

    .userRepo__options > h6 {
        padding: 10px;
    }
}